<% if @users.exists? %>
<h2><%= @user.name %> 様はこちらの方々からフォローされています</h2>
<table class="table search-result">
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ニックネーム＠ID</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'public/relationships/user_table', users: @users %>
  </tbody>
</table>
<% else %>
  <h3><%= @user.name %> 様はまだフォローされていません</h3>
<% end %>