<% if @users.exists? %>
<h2><%= @user.name %> 様はこちらの方々をフォローしています</h2>
<table class="table search-result" id="user_followings">
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ニックネーム＠ID</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'public/relationships/user_table', users: @users %>
  </tbody>
</table>
  <p class="text-center"><%= link_to_next_page @users, 'もっと見る', remote: true, id: 'view_more' %></p>

<% else %>
  <h3><%= @user.name %> 様はまだ誰もフォローしていないようです</h3>
<% end %>