<h2>こちらの方々をフォローしています</h2>
<% if @users.exists? %>
<table class="table search-result">
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ニックネーム＠ID</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'public/relationships/user_table', users: @users %>
  </tbody>
</table>
<% else %>
  <p>まだ誰もフォローしていないようです</p>
<% end %>