<div class="container">
  <div class="row mx-auto text-center">
    <div class="col">
      <h2 class="my-5">当サイトについて</h2>
    </div>
  </div>
  <div class="row" style="background-color: #FFF;">
    <div class="col offset-md-2">
      <h5>
        当サイトは家事専門のレビューサイトです<br /><br />

        ネットで情報を検索すると知りたい情報の記事がヒットしますが<br />
        個人の方や企業様が書かれている記事だと広告宣伝が含まれていたりで<br />
        結局は宣伝がメインなのではないかと疑ってしまったり<br />
        本当にこの情報で問題が解決するのかと不安に思われたことはございませんか？<br /><br />

        当サイトはサイト管理人のように疑り深い、かつ家事をされている方のお役にたてればという思いで作成いたしました。<br />
        気になるサイトがあればそのURLなどで当サイト内検索を行ってみてください<br />
        同じサイトを試してみた方のレビューが見つかるかもしれません。<br />
        もし見つからなかった場合は、そのサイトを試して問題が解決したのかどうかなどの情報をぜひご投稿ください<br /><br /><br />
      </h5>

      <h4>
        当サイトは皆様からのレビューにより<br />
        さらにお役にたてるサイトへと成長していきます。
      </h4>

    </div>
  </div>
</div>