<h2 class="text-center mt-4">通知</h2>
<div class="container">

  <%= link_to destroy_all_notifications_path, method: :delete do %>
    <i class="fas fa-trash-alt faa-vertical animated-hover fa-2x" style="color: red;"></i>
    <span style="color: black; font-size: 20px;">全削除</span>
  <% end %>
  <hr>
<% if @notifications.exists? %>
  <div class="users-index">
    <%= render @notifications %>
  </div>
<% else %>
  <p>通知はありません</p>
<% end %>

</div>