<% if @model == 'user' %>
　<h4 class="search-word">ユーザー名orユーザーID <span class="result">"<%= @content %>"</span> での検索結果</h4>
　<%= render 'public/users/index', users: @records %>
<% elsif @model == 'post' %>
　<h4 class="search-word">投稿記事タイトルor記事詳細or参考url <span class="result">"<%= @content %>"</span> での検索結果</h4>
　<%= render 'public/posts/index', posts: @records %>
<% end %>