<div class="container">
  <div class="row mt-5">
    <div class="col mt-5 mx-auto text-center">
      <h4>本当に退会しますか？</h4><br />
      <h6>退会すると、登録情報や<br />
      これまでのお気に入り一覧が閲覧できなくなります。<br />
      退会する場合は、「退会する」をクリックしてください。</h6>
      <br />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 offset-md-3">
      <%= link_to "退会しない", user_path(current_user), class: 'btn btn-primary btn-lg' %>
    </div>
    <div class="col-md-3">
      <%= link_to "退会する", withdraw_users_path(@user), class: 'btn btn-danger btn-lg', method: :patch %>
    </div>
  </div>
</div>