<li><%= link_to "ジャンル一覧", admin_genres_path,class: 'nav-link active' %></li>
<li><%= link_to "会員一覧", admin_root_path,class: 'nav-link active' %></li>
<li><%= link_to "ログアウト", destroy_admin_session_path,class: 'nav-link active', method: :delete %></li>
